<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="https://aldi.github.io/bulma-login-template/" />
    <title>Prenota Fumetto</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <script href="../../script/acquirente/prenotaFumetto.js" ></script>
    <script href="../../script/callback.js" ></script>
    <script href="../../script/utils.js" ></script>
  </head>
  <body onload="richiediFumettiPerPrenotazione()">
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-8 is-offset-2">
            <div class="box">
              <img src="./media/comic1.png" width="50">
              <p class="subtitle is-4">Ciao Acquirente1!</p>
              
             
                <div id="fumettiPrePrenotazione">

                </div>

                <div id="fumetteriePrePrenotazione">

                </div>

                <div id="risultatoPrenotazione">

                </div>

                <br>
                <br>
                <button class="button  is-info is-small  is-rounded is-outlined" onclick="gotoHomeAcquirente()">Home</button>
              
            </div>
            <!--p class="has-text-grey">
              <a href="#">Sign Up</a>
            </p-->
           
          </div>
        </div>
      </div>
      
    </section>
  </body>
</html>