<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="https://aldi.github.io/bulma-login-template/" />
    <title>Home Acquirente</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <script src="../../script/variabili.js" ></script>
  </head>
  <body>
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-8 is-offset-2">
            <div class="box">
              <img src="./media/comic1.png" width="50">
              <p class="subtitle is-4"></p>

              <div id="username">
                <script> 
                  document.getElementById("username").innerHTML = ("Ciao " + getUsername() + "!");
                </script>
            </div>


              
             
                <!--button class="button is-block is-info is-large is-fullwidth is-rounded is-outlined">Gestione biblioteca</button> <br /> 
                <button class="button is-block is-info is-large is-fullwidth is-rounded is-outlined">Gestione interessi</button><br />

                <button class="button is-block is-info is-large is-fullwidth is-rounded is-outlined">Vedi le recensioni</button> &nbsp; &nbsp; 
                <button class="button is-block is-info is-large is-fullwidth is-rounded is-outlined">Scrivi una recenzione</button><br />
                
                
                <button class="button is-block is-info is-large is-fullwidth is-rounded is-outlined">Cerca una fumetteria</button>&nbsp; &nbsp; 
                <button class="button is-block is-info is-large is-fullwidth is-rounded is-outlined">Prenota un fumetto</button><br />
                
                <button class="button is-block is-info is-large is-fullwidth is-rounded is-outlined">Visualizza le notifiche</button><br /-->


                <button class="button  is-info is-large  is-rounded is-outlined" onclick="gotoGestioneBiblioteca()">Gestione biblioteca</button> &nbsp; &nbsp;
                <button class="button  is-info is-large  is-rounded is-outlined" onclick="gotoGestioneInteressi()">Gestione interessi</button><br /><br />

                <button class="button  is-info is-large  is-rounded is-outlined">Guarda le recensioni</button> &nbsp; &nbsp; 
                <button class="button  is-info is-large  is-rounded is-outlined">Scrivi una recenzione</button><br /><br />
                
                
                <button class="button  is-info is-large  is-rounded is-outlined">Cerca una fumetteria</button>&nbsp; &nbsp; 
                <button class="button  is-info is-large  is-rounded is-outlined" onclick="gotoPrenotaFumetto()">Prenota un fumetto</button><br /><br />
                
                <button class="button is-info is-large is-rounded is-outlined" onclick="gotoVisualizzaNotifiche()">Visualizza le notifiche</button><br />


              
            </div>
            <!--p class="has-text-grey">
              <a href="#">Sign Up</a>
            </p-->
           
          </div>
        </div>
      </div>
      
    </section>
  </body>
</html>